
body {
  background: url('finalbg.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}


.main-container {
  display: flex;
  align-items: center;
  width: 70%;           
  max-width: 800px;      
  min-height: 400px;
  background: url('BlankChalk.png') no-repeat center center; 
  background-size: 100% 100%; 
  border-radius: 15px;
  padding: 40px;        
  box-shadow: 0 15px 45px rgba(0,0,0,0.6); 
}

.logo-side {
  flex: 1;
  text-align: center;
}

.main-logo {
  max-width: 250px;      
  height: auto;
}

.form-side {
  flex: 1.2;             
  padding-left: 20px;
}


.form-side h2, 
.form-side label {
  color: #f0f0f0;      
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  margin-bottom: 5px;
}

.input-group {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

input {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  border: 1px solid #777;
  border-radius: 4px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.9); 
}

button {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: #333;
  color: white;
  padding: 8px 20px;
  border: 1px solid #666;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

button:hover {
  background-color: #444;
}